/* 
    Document   : tribe
    Created on : Jan 9, 2017, 11:14:40 AM
    Author     : FRANKCHUKY
    Description:
        Purpose of the stylesheet follows.
*/
/*Media query*/
@media screen and (min-width: 100px){
    #left-column-tech-unravel{
        width: 100%;

    }
    
    #left-column-info h2{
        padding-bottom: 50px;
    }
    
        #left-column-tech-unravel img{
        width: 100px;
        height: 100px;

    }
    

    
    #right-column-tech-unravel{
        margin-left: 0%;
        width: 100%;
        position: relative;
        padding-top: 300px;
    }
    
    #socials{
        padding-top: 15px;
    }
    
}

@media screen and (min-width: 360px){

}

@media screen and (min-width: 720px){
    #left-column-tech-unravel{
        width: 25%;
        position: fixed;
        top: 0px;
        bottom: 0px;
        max-height: 100%;
    }
    #right-column-tech-unravel{
        margin-left: 25%;
        width: 75%;
        padding-top: 0px;
    }
    #socials{
        padding-top: 90%;
    }
            #left-column-tech-unravel img{
        width: 70%;
        height: 70%;

    }

}

root { 
    display: block;
}

.clients img{
    max-height: 40px;

}

body{
    font-size: 16px;
}
/**id of the learn innovate and build */
#code-fiesta-goals p{
    font-size: 20px;
    padding-bottom: 10px;
}

p, ul, li, dl, dt{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**id of the discover engage and collaborate*/
#tech-unravel li{
    font-size: 14px;
    padding-bottom: 10px;
    list-style: none;
}

#tech-unravel p{
    font-size: 20px;

}

#left-column-tech-unravel{
    background-color: #cdc5c5;
    color: #eea236;
}

/*#left-column{
    width: 55%;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #eea236;
}*/



#bought-to-you p{
    font-size: 16px;
}


#socials{
    font-size: 12px;
    
    
}




#social a:hover{
    color: palegreen;
}
/**formats accelerating technology in the east*/
#intro-text{
    text-align: center;
    color: #eea236;
    padding-bottom: 50px;
    font-weight: bold;
}

/**left column text formating*/
#left-column-info{
    text-align: center;
    
    font-weight: bold;
    font-size: 32px;
    color: white;
}

#about-code-fiesta p{
    font-size: 16px;
}


#about-code-fiesta{
    opacity: 0.8;
    color: black;
    background-color: #eea236;
    /*    padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;*/
    min-height:400px;

}
#about-code-fiesta, #why-code-fiesta, #our-goals, #tech-unravel{
    padding: 20px;
}

#why-code-fiesta dd{
    padding-bottom: 15px;
}

#tech-image{
    padding-top: 2%;
}

#goal-image{
    padding-top: 4%;
}

#education-image{
    padding-top: 4%;
}

h3{
    font-weight: bold;
    padding-bottom: 10px;
}