/* 
    Document   : tribe
    Created on : Jan 9, 2017, 11:14:40 AM
    Author     : FRANKCHUKY
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.clients img{
    max-height: 40px;
    
}

body{
    font-size: 16px;
}
/**id of the learn innovate and build */
#code-fiesta-goals p{
    font-size: 20px;
    padding-bottom: 10px;
}

/**id of the discover engage and collaborate*/
#tech-unravel li{
    font-size: 20px;
    padding-bottom: 10px;
}

#tech-unravel p{
    font-size: 20px;
   
}

#left-column-tech-unravel{
    background-color: #cdc5c5;
        width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #eea236;
}

#left-column{
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    color: #eea236;
    
}

#bought-to-you{
     padding-top: 10%;
     padding-bottom: 6%;
}

#bought-to-you p{
    font-size: 16px;
}


#social-buttons{
    font-size: 18px;
    text-align: center;
    padding-top: 70%;
    
}



#social-buttons a:hover{
    color: palegreen;
}
/**formats accelerating technology in the east*/
#intro-text{
    text-align: center;
    color: #eea236;
    padding-bottom: 50px;
    font-weight: bold;
}

/**left column text formating*/
#left-column-info{
    padding-top: 30%;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

#about-code-fiesta p{
    font-size: 16px;
}


#about-code-fiesta{
    opacity: 0.8;
    color: black;
    background-color: #eea236;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}
#why-code-fiesta dd{
   padding-bottom: 15px;
}

#tech-image{
    padding-top: 6%;
}

#goal-image{
    padding-top: 4%;
}

#education-image{
    padding-top: 4%;
}

h3{
    font-weight: bold;
    padding-bottom: 10px;
}